* {
  font-family: "Times New Roman", Times, serif;
}
.jumbotron {
  background-color: #f9f9f9;
  padding-top: 2rem;
}
#skills {
  background-color: #f6c6ea;
}
#projects {
  background-color: #f9f9f9;
}
#work {
  background-color: #f6c6ea;
}
#contact {
  background-color: #f9f9f9;
}
section {
  padding-top: 4rem;
}
